body{
    font-family: "Chakra Petch", sans-serif;
    margin:0px;
    background-color: rgb(185, 228, 228);
    color: rgb(8, 8, 8);
    
}

header{
    border-bottom: solid 2px rgb(4, 138, 138);
    margin: 0px;
    padding: 20px;

}

h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.663);
}

p {
    font-size: 20px;
}