body{
    font-family: "Chakra Petch", sans-serif;
    margin:0px;
    background-color: rgb(185, 228, 228);
    color: rgb(8, 8, 8);
    
}

header{
    border-bottom: solid 2px rgb(4, 138, 138);
    margin: 0px;
    padding: 20px;
    font-size: 35px;
    color: rgb(13, 126, 126);

}

h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.663);
    text-align: center;
}

p {
    font-size: 20px;
}

section {
    background: rgba(97, 97, 167, 0.437);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chama-texto {
margin-right: 5%;
}